openapi: 3.0.0
x-stoplight:
  id: akb7f5psdzhz7
info:
  title: AI Failure Detection APIs
  version: '1.0'
  description: 'API definitions. For a detailed explanation, [see the API overview.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is)'
servers: []
paths:
  /api/gadget/v1/createcontext:
    parameters: []
    servers:
      - url: 'https://gadget-pv1-oeapi.octoeverywhere.com'
        description: ''
    post:
      summary: Create Context
      tags: []
      responses:
        '400':
          description: "If the API doesn't return a 200, it will return an HTTP error code with a common json error object body.\r\n\r\n**Note that many different HTTP error codes can be returned; they will all contain the json error body described here.**\r\n\r\nThe json body contains `ErrorType` and `ErrorDetails`. `ErrorType` is a well known string that will map to an [Error Type detailed here.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is#errors) The `ErrorDetails` will provide details about the error."
          content:
            application/json:
              schema:
                type: object
                required:
                  - ErrorType
                  - ErrorDetails
                properties:
                  ErrorType:
                    type: string
                    x-stoplight:
                      id: nednafncfw7l7
                    description: '        A well known [Error Type detailed here.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is#errors)'
                  ErrorDetails:
                    type: string
                    x-stoplight:
                      id: tf4oe5c08j4h2
                    description: '        Details about this specific error.'
        2XX:
          description: A context was successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ContextId
                  - ProcessRequestUrl
                  - FallbackProcessRequestUrl
                properties:
                  ContextId:
                    type: string
                    x-stoplight:
                      id: sygaiedhz7i6m
                    description: '        The ID of the new context.'
                    example: uYZkEP0g22nPZwtCj6ASWef9Lpmh81Ahs1mnAdw4Z7PlDFbOK6
                  ProcessRequestUrl:
                    type: string
                    x-stoplight:
                      id: oyrkf6qw3d08g
                    description: '        This is the main URL that should be used for all Process API requests for the lifetime of this context.'
                    example: 'https://gadget-reional-subdomain.octoeverywhere.com/api/gadget/v1/process/uYZkEP0g22nPZwtCj6ASWef9Lpmh81Ahs1mnAdw4Z7PlDFbOK6'
                  FallbackProcessRequestUrl:
                    type: string
                    x-stoplight:
                      id: seqynqf1gba3v
                    description: "    This is the fallback URL that can be used if the `ProcessRequestUrl` fails for any reason. \r\n    Once the application swtiches to the `FallbackProcessRequestUrl` it should continue to use it for the lifetime of the context."
                    example: 'https://gadget-pv1-oeapi.octoeverywhere.com/api/gadget/v1/process/uYZkEP0g22nPZwtCj6ASWef9Lpmh81Ahs1mnAdw4Z7PlDFbOK6'
      operationId: create-context
      x-stoplight:
        id: kgomtjwkt3dj9
      description: "The Create Context API creates a new context for AI failure detection session. The lifetime of a context is a single print, each new print should create a new context. The context does not need to be destroyed; it will auto-delete after 14 days.\r\n\r\n**There's no charge for calling this API. The API usage pricing only applies to the Process API.**\r\n\r\nThis API should always be called with the primary hostname `gadget-pv1-oeapi.octoeverywhere.com`. Ex: `https://gadget-pv1-oeapi.octoeverywhere.com/api/gadget/v1/createcontex`\r\n\r\n### Request JSON Values\r\n\r\nThe optional `WarningConfidenceLevel` and `PauseConfidenceLevel` parameters adjust how confident temporal combination model needs to be before invoking the warning or pause suggestion.The default value is 3 if unset. A lower value will mean the model will be less confident when it sends the warning or pause suggestion, which might catch more issues but also could make false-positive suggestions more often. A higher value makes the model more confident before it issues the suggestion, which means it might miss minor print failure but be far less likely to make a false-positive suggestion.\r\n\r\n### Response JSON Values\r\n\r\nThe json response contains the context id and two URLs, `ProcessRequestUrl` and `FallbackProcessRequestUrl`. The `ProcessRequestUrl` URL is the full URL your program should use for [Process API](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/ck1qrradzvhim-process-api) calls for the lifetime of this context. If the `ProcessRequestUrl` fails, your program should fall back to the `FallbackProcessRequestUrl` URL and use it for the remaining lifetime of the context.\r\n\r\n[Read this doc for a full API overview.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is)\r\n\r\n"
      parameters:
        - schema:
            type: string
          in: header
          name: X-API-Key
          description: You OctoEverywhere developer API key.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                WarningConfidenceLevel:
                  type: integer
                  x-stoplight:
                    id: mfrfza945tj5d
                  minimum: 1
                  maximum: 5
                  description: "```json\r\nOptional Parameter\r\nThis adjusts the temporal combination model's required confidence in a failure to trigger the warning suggestion.\r\nThe value must be between 1-5, where 1 is the least confident (more warnings) and 5 is the most confident (less warnings).\r\nIf not set, the default value of 3 will be used.\r\n```"
                  default: 3
                PauseConfidenceLevel:
                  type: integer
                  x-stoplight:
                    id: wy1w2uz7at298
                  minimum: 1
                  maximum: 5
                  default: 3
                  description: "            Optional Parameter\r\n            This adjusts the temporal combination model's required confidence in a failure to trigger the pause print suggestion.\r\n            The value must be between 1-5, where 1 is the least confident (will pause with less confidence) and 5 is the most confident (will only pause when very confident).\r\n            If not set, the default value of 3 will be used."
  '/api/gadget/v1/process/{ID}':
    parameters:
      - schema:
          type: string
        name: ID
        in: path
        required: true
      - schema:
          type: string
        name: ID
        in: path
        required: true
        description: The context id.
      - schema:
          type: string
        name: ''
        in: path
        required: true
    servers:
      - url: ' https://<your primary process url>.octoeverywhere.com'
        description: ''
    post:
      summary: Process
      tags: []
      responses:
        '200':
          description: 200 OK is returned after the image has successfully been processed through the ML models.
          content:
            application/json:
              schema:
                type: object
                required:
                  - NextProcessIntervalSec
                  - 'PrintQuality '
                  - WarningSuggested
                  - PauseSuggested
                  - Score
                properties:
                  NextProcessIntervalSec:
                    type: integer
                    x-stoplight:
                      id: tmnvhgqzy73gi
                    minimum: 20
                    example: 40
                    description: '[See details in the API overview text above.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/hb9xvo995a4px-process#api-json-body-return-values)'
                  'PrintQuality ':
                    type: integer
                    x-stoplight:
                      id: 8h7eesnu63gn3
                    minimum: 1
                    maximum: 10
                    example: 2
                    description: '[See details in the API overview text above.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/hb9xvo995a4px-process#api-json-body-return-values)'
                  WarningSuggested:
                    type: boolean
                    x-stoplight:
                      id: 3tm8tuefpb7dg
                    default: false
                    description: '[See details in the API overview text above.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/hb9xvo995a4px-process#api-json-body-return-values)'
                  PauseSuggested:
                    type: boolean
                    x-stoplight:
                      id: sp2vuq8tyqe3z
                    default: false
                    description: '[See details in the API overview text above.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/hb9xvo995a4px-process#api-json-body-return-values)'
                  Score:
                    type: integer
                    x-stoplight:
                      id: s2ytancr2ybzn
                    example: 5
                    minimum: 0
                    maximum: 100
                    description: '[See details in the API overview text above.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/hb9xvo995a4px-process#api-json-body-return-values)'
        '400':
          description: "If the API doesn't return a 200, it will return an HTTP error code with a common json error object body.\r\n\r\n**Note that many different HTTP error codes can be returned; they will all contain the json error body described here.**\r\n\r\nThe json body contains `ErrorType` and `ErrorDetails`. `ErrorType` is a well known string that will map to an [Error Type detailed here.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is#errors) The `ErrorDetails` will provide details about the error."
          content:
            application/json:
              schema:
                type: object
                required:
                  - ErrorType
                  - ErrorDetails
                properties:
                  ErrorType:
                    type: string
                    x-stoplight:
                      id: 5vi8e53hdw4ij
                    description: '        A well known [Error Type detailed here.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is#errors)'
                  ErrorDetails:
                    type: string
                    x-stoplight:
                      id: x19b6434q30y1
                    description: '        Details about this specific error.'
      operationId: process
      x-stoplight:
        id: hb9xvo995a4px
      description: "The Process API is where the magic happens. \U0001FA84\r\n\r\n**The usage of this API is tacked as part of our [API pricing.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is#pricing) Every developer get 5000 free calls per month, which is about 55 hours of printing.**\r\n\r\nThis API must be called with a context created by the [Create Context API.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/kgomtjwkt3dj9-create-context) The request must include a recent jpeg image of the print. Using our ML image models, the Process API will process the new image into the previous context. The temporal combination model will then produce an output based on the past context, current image, and other signals.\r\n\r\nThe image must be attached as `multipart/form-data` content-type POST request. This is a common request type that is supported by most built-in HTTP libraries in modern languages. For an example, [see our Python SDKs](https://github.com/OctoEverywhere/Gadget-Python-Sdk/blob/861583ed69a696523b3fb3288736572a2e61f504/gadgetsdk/_gadgetinspectionsession.py#L201) usage of the `requests` library. There can only be one \"file\" attached in the multipart data; the name of the image file doesn't matter.\r\n\r\nExamples of `multipart/form-data` requests:\r\n\r\n- Python\r\n    - https://stackoverflow.com/a/12385661\r\n- C#\r\n    - https://stackoverflow.com/a/19983672\r\n- Java\r\n    - https://stackoverflow.com/a/1379002\r\n- Javascript\r\n    - https://stackoverflow.com/a/60629831\r\n- CPP\r\n    - https://stackoverflow.com/a/76069568\r\n\r\n### API JSON Body Return Values\r\n\r\n**NextProcessIntervalSec** `int (range: 20-5000; unit: seconds)` \r\n\r\n`NextProcessIntervalSec` is the minimum time in seconds that must elapse before the next Process API call. Your program can choose to wait longer before making the next Process API call if desired, but you must respect the minimum interval set by `NextProcessIntervalSec`\r\n\r\nWe recommend you call the Process API after each minimum time interval or as close as possible. This allows the temporal combination model to gather the most accurate data and signals to make confident decisions about the print state.\r\n\r\n_____\r\n\r\n**PrintQuality** `int (range: 1-10)`\r\n\r\nThis is the output temporal combination model print quality score. The print score rates the current print from 1 to 10, where 10 is perfect print quality.\r\n\r\n**This value should not be used for warning or pause actions.** The `WarningSuggested` and `PauseSuggested` return values are also outputs of the temporal combination model, but consider many more signals to ensure false-positive actions aren't taken.\r\n\r\nThis value should be used to show the current print stats to the user on a UI, printer display, etc.\r\n\r\nThe values can be interrupted as:\r\n1. There's a print failure\r\n2. There's probably a print failure\r\n3. There might be a print failure\r\n4. Monitoring a possible print issue\r\n5. Monitoring a possible print issue\r\n6. Good print quality\r\n7. Good print quality\r\n8. Great print quality\r\n9. Great print quality\r\n10. Perfect print quality\r\n\r\n_______\r\n\r\n**WarningSuggested** `boolean`\r\n\r\nSet to true if the temporal combination model is confident there might be a print issue and the user should be informed. \r\n\r\nThe confidence required can be adjusted when the context is created using the `WarningConfidenceLevel` on the [Create Context API.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/kgomtjwkt3dj9-create-context)\r\n\r\nThis decision is based on many signals and is only sent when there's high confidence of the warning state. The `PrintQuality` value could be in the `1-3` range for 30-80 seconds before enough confidence is gained to raise this action flag.\r\n\r\n_______\r\n\r\n**PauseSuggested** `boolean`\r\n\r\nSet to true if the temporal combination model is confident that there is probably a print failure and that the print should be paused. This decision is based on many signals and is only sent when there's high confidence that the print has failed.\r\n\r\nThe confidence required can be adjusted when the context is created using the `PauseConfidenceLevel` on the [Create Context API.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/kgomtjwkt3dj9-create-context)\r\n\r\nThis decision is also based on many signals and is only sent when there's high confidence of a print failure and the print should be interrupted. The `PrintQuality` value could be in the `1-3` range for 60-120 seconds before enough confidence is gained to raise this action flag. Pausing the print is an intrusive action, so the temporal combination model waits for a very high confidence before raising the action flag.\r\n\r\n---------------\r\n\r\n**Score** `int (range: 0-100)`\r\n\r\nThis is the temporal combination model output raw score. The score ranges from 0-100, where 0 is a perfect print, and 100 indicates a strong probability of failure.\r\n\r\n**This value should not be used to directly show the user status or take an action like a wanring or pause.**\r\n\r\nThis value can be used to programmatically interrupt the AI score for advanced processing such as smoothing, aggregation, or such.\r\n\r\n[See this doc for a full AI API overview.](https://octoeverywhere.stoplight.io/docs/octoeverywhere-api-docs/3xadck728cc0t-ai-failure-detection-ap-is)"
      parameters:
        - schema:
            type: string
          in: header
          name: X-API-Key
          description: You OctoEverywhere developer API key.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
        description: 'The image must be attached as `multipart/form-data` content-type POST request. This is a common request type that is supported by most built-in HTTP libraries in modern languages. For an example, [see our Python SDKs](https://github.com/OctoEverywhere/Gadget-Python-Sdk/blob/861583ed69a696523b3fb3288736572a2e61f504/gadgetsdk/_gadgetinspectionsession.py#L201) usage of the `requests` library. There can only be one "file" attached in the multipart data; the name of the image file doesn''t matter.'
components:
  schemas: {}
  securitySchemes: {}
  examples: {}
